{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
        
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                    <h2 class="logo-font mb-4">Your Orders</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if order %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Services</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in order %}
                                <tr class="order-bag-item">
                                    <td class="p-3 w-25">
                                        <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                        <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                        <p class="my-0 small text-dark"><strong class="text-muted">Selected Size:</strong> {{ item.product_size }}</p>
                                        <p class="my-0 small text-dark"><strong class="text-muted">Colour:</strong> {{ item.artwork_colour }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.final_price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        <form method="POST" id="update-form" action=""></form>
                                        {% csrf_token %}
                                        <input class="form-control qty_input w-50" type="number" 
                                                name="quantity" value="{{ item.quantity }}" min="1" max="99" 
                                                    data-item_id="{{ product.id }}" id="id_qty">
                                        <input type="hidden" id="item_id" name="item_id" value="{{ item.item_id }}">
                                        <a href="javascript: submitForm()" class="update-link text-info" id="update_bag_item"><small>Update</small></a>
                                        <a href="javascript: submitFormRemove()" class="remove-item text-danger float-right" id="remove_bag_item"><small>Remove</small></a>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.subtotal }}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="p-3 w-25">
                                        <span>Your Customisations:</span>
                                        <div class="dropdown-divider"></div>
                                        <p class="my-0 small custom-detail-text">
                                            <strong class="text-muted">Your Request:</strong>
                                            {{ item.artwork_request }}
                                        </p>
                                        <p class="my-0 small custom-detail-text">
                                            <strong class="text-muted">Text Content Provided:</strong>
                                            {{ item.product_text_content }}
                                        </p>
                                        <hr>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr class="text-right">
                                <td colspan="5" class="pt-5 text-right">
                                    <h6><strong>Order Total: €{{ total|floatformat:2 }}</strong></h6>
                                    <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                                    <strong class="small">Cost Breakdown:</strong>
                                    {% for item in order %}
                                        {% for order_item in item.order_list %}
                                            <p class="my-0 small custom-detail-text">
                                                {{ order_item }}
                                            </p>
                                        {% endfor %}
                                    {% endfor %}
                                    <h4 class="mt-4"><strong>Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                                    {% if free_delivery_delta > 0 %}
                                        <p class="mb-1 text-danger">
                                            You could get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong> more!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr class="text-right">
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Add more Services</span>
                                    </a>
                                    <a href="" class="btn btn-black rounded-0 btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">No orders made.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Back to Design Services</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    <script src="{% static 'js/helper.js' %}"></script>
{{ block.super }}

{% endblock %}