{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container hero-container">
        <div class="row h-100">
            <div class="col-7 col-md-7 col-sm-10 my-auto home-banner-container">
                <h1 class="display-4 banner-text home-banner">
                    Studio quality. <br>
                    Freelance rates.
                </h1>
                <div class="my-4">
                    <h4>
                        <a href="{% url 'products' %}" class="discover-btn btn btn-lg rounded-1 text-uppercase py-3">Order Artwork</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-container portfolio-container" id="our-work">
        <div class="inner-container">
            <div class="row h-100">
                <h2 class="display-4 banner-text home-banner text-white">
                    Our Work
                </h2>
                <div class="our-work-layout">
                {% for image in images %}
                    <div class="our-work-item">
                        <img src="{{ image.image.url }}" alt="Our Work">
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}