{% extends "base.html" %}
{% load static %}

{% block add_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<!-- User Profile View -->
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="logo-font mb-4">Account</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <!--Devivery Info Form -->
            <div class="col-11 col-lg-5 order-last order-lg-0 m-auto mb-3 mt-0">
                <p class="text-theme">Your Delivery Information</p>
                <div class="card-bg-shadow">
                    <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="btn-container">
                            <button class="btn btn-black rounded-1 mt-3">Update Information</button>
                        </div>
                    </form>
                </div>
            </div>
             <!--User Orders -->
            <div class="col-11 col-lg-6 m-auto mb-3 mt-0">
                <p class="text-theme">Your Orders</p>
                <div class="order-history">
                     <!-- Sort orders by status -->
                    {% for order in orders|dictsort:"order_status" %}
                        {% if order %}
                        <div class="order-history-item-container card-bg-shadow mb-3">
                            <div class="order-history-item">
                                <div class="order-history-item-inner">
                                    <small class="text-theme font-weight-bold">{{ order.date }}</small>
                                    {% if order.order_status == 'Completed' %}
                                        <small class="text-success-id font-weight-bold">
                                            Order Ready 
                                            <i class="fas fa-check-circle"></i>
                                        </small>
                                        {% else %}
                                        <small class="text-pending-id">
                                        In progress..
                                        </small>
                                    {% endif %}
                                </div>
                                <hr class="m-0 mb-1">
                                <div class="order-history-item-inner">
                                    <small class="text-theme">Order #</small>
                                    <small class="initialism" title="{{ order.order_number }}">{{ order.order_number }}</small>
                                    </a>
                                </div>
                            </div>
                            <div class="order-history-item">
                                <div class="order-history-item-inner">
                                    <ul class="list-unstyled mb-0">
                                        {% for item in order.lineitems.all %}
                                            <li class="small">
                                            {{ item.product.name }} x{{ item.quantity }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <small>
                                        <small class="initialism">Total</small> 
                                        €{{ order.grand_total }}
                                    </small>
                                </div>
                            </div>
                            <hr class="m-0 mb-1 mt-1">
                            <div class="order-history-complete">
                                <div class="btn-container">
                                    {% if order.order_status == 'Completed' %}
                                    <a class="btn btn-green rounded-1 mt-1 btn-sm" href="{% url 'artwork' order.id %}">
                                        View Artwork
                                    </a>
                                    {% endif %}
                                    <a class="btn btn-black rounded-1 mt-1 btn-sm" href="{% url 'order_history' order.order_number %}">
                                        View Order
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- If no order found display -->
                        {% else %}
                        <p>No orders found..</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
        {{ profile }}
{% endblock %}