{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- Customer Order Sucessfull Template -->
    <div class="overlay"></div>
    <div class="container checkout-container-success">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Thank You</h2>
                <hr>
                <p class="text-black">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            </div>
        </div>
        <!-- Customer Order Summary -->
        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="order-confirmation-wrapper p-2 border">
                    <div class="row">
                        <div class="col">
                            <small class="text-theme">Order Info</small>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="small mb-0 text-muted text-right">Order Number</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right text-black">
                            <p class="mb-0">{{ order.order_number }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="small mb-0 text-muted text-right">Order Date</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right text-black">
                            <p class="mb-0">{{ order.date }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <small class="text-theme">Order Details</small>
                        </div>
                    </div>
                    <!-- List Products on Order -->
                    {% for item in order.lineitems.all %}
                    <hr>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="small mb-0 text-muted text-right">
                                <small>Service:</small>
                            </p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="small mb-0 text-black">
                                {{ item.product.name }} <small> {{item.quantity}}x {{ item.product_size }} / {{item.artwork_colour}}</small>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="small mb-0 text-muted text-right">
                                <small>Price:</small>
                            </p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="small mb-0">€{{ item.product.price }} <em>per artwork</em></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="small mb-0 text-muted text-right">
                                <small>Your Requirements:</small>
                            </p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="small mb-0 text-black font-weight-bold">
                                <small>{{ item.artwork_request }}</small>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="small mb-0 text-muted text-right">
                                <small>Your Copy:</small>
                            </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="small mb-0">
                                <small>{{ item.product_text_content }}</small>
                            </p>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}

                    <div class="row">
                        <div class="col">
                            <small class="text-theme">Delivery</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="small mb-0 text-black font-weight-bold">
                                {{ order.full_name }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="small mb-0 text-black font-weight-bold">
                                {{ order.street_address1 }}
                            </p>
                        </div>
                    </div>
                    {% if order.street_address2 %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="small mb-0 text-black font-weight-bold">
                                {{ order.street_address2 }}
                            </p>
                        </div>
                    </div>
                    {% endif %}

                    {% if order.county %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="small mb-0 text-black font-weight-bold">
                                {{ order.county }}
                            </p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-md-4">
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="small mb-0 text-black font-weight-bold">
                                {{ order.town_or_city }}
                            </p>
                        </div>
                    </div>

                    {% if order.postcode %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="small mb-0 text-black font-weight-bold">
                                {{ order.postcode }}
                            </p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-md-4">
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="small mb-0 text-black font-weight-bold">
                                {{ order.country }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="small mb-0 text-muted text-right">
                                <small>Contact Number</small>
                            </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="small mb-0 text-black font-weight-bold">
                                {{ order.phone_number }}
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <small class="text-theme">Billing</small>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12 col-md-2">
                            <p class="small mb-0 text-muted text-right font-weight-bold">
                                <small>Total</small>
                            </p>
                        </div>
                        <div class="col-12 col-md-2 text-md-right">
                            <p class="small mb-0 text-black font-weight-bold">
                                €{{ order.order_total }}
                            </p>
                        </div>
                        <div class="col-12 col-md-2">
                            <p class="small mb-0 text-muted text-right">
                                <small>Delivery</small>
                            </p>
                        </div>
                        <div class="col-12 col-md-2 text-md-right">
                            <p class="small mb-0 text-black font-weight-bold">
                            €{{ order.delivery_cost }}
                            </p>
                        </div>
                        <div class="col-12 col-md-2">
                            <p class="mb-0 text-muted text-right font-weight-bold">
                                <small>Grand Total</small>
                            </p>
                        </div>
                        <div class="col-12 col-md-2 text-md-right">
                            <p class="large mb-0 text-black font-weight-bold">
                                    € {{ order.grand_total }}
                            </p>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
			<div class="col-12 col-lg-7 text-right">
				<a href="{% url 'products' %}" class="btn btn-black rounded-1 my-2">
                    <span class="text-uppercase">Forgot something? | <small>Back to Services</small></span>
					<span class="icon mr-2">
						<i class="fas fa-angle-right"></i>
					</span>
				</a>
			</div>
		</div>
    </div>
{% endblock %}