/* Stylesheet - base.css - Improved Design */
html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    color: #555;
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased
}

a {
    color: #6b63ff;
}

em {
    font-size: 80%;
}

hr {
    border-top: 1px solid #6b63ff;
}

i {
    color: #6b63ff;
}

.icon-white {
    color: #ffffff;
}

.text-theme {
    color: #6b63ff;
}

.text-success-id {
    color: #356135;
}

.text-pending-id {
    color: #daac21;
}

.text-right {
    text-align: right;
}

.image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.heading-bg-none {
    background: rgba(0, 0, 0, 0) !important;
}

body > div.container,
body > div.container-fluid {
    margin-top: 1rem;
}

.hero-container {
    margin-top: 0 !important;
    display: flex;
    flex-direction: column;
}

.fixed-top {
    position: sticky;
}

.border {
    border: 1px solid #6b63ffaf!important;
}

.initialism {
    font-size: .675em;
    font-weight: 600;
}

/* Selectors & Search Bar */
.custom-select, .custom-borders {
    border-bottom: 1px solid #6b63ff !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}

/* Buttons & Nav Links */
.btn-container,
body > div.container-fluid > div > div:nth-child(2) > div > form > div > div:nth-child(11) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.discover-btn {
    background: #ffffff;
    float: right;
}

a#category-link,
a#all-products-link {
    transition: ease-in-out;
    border-bottom: 1px solid;
}
a#category-link:hover,
a#category-link:focus,
a#category-link:active,
a#all-products-link:hover,
a#all-products-link:focus,
a#all-products-link:active {
    color: #6b63ff !important;
    transform: scale(1.03);
    border-bottom-color: #6b63ff;
}

.discover-btn:hover,
.discover-btn:focus,
.discover-btn:active {
    background: rgba(0, 0, 0, 0.8);
    text-decoration: underline;
    color: #ffffff;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-green {
    color: white;
    background: #198754
}

.btn-green:hover,
.btn-green:active,
.btn-green:focus {
    color: #000000;
    background: #bdf3bd;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #434242;
    color: white;
}


/* Fonts */
.banner-font {
    font-size: 1rem;
}

/* Key Frames for Home */
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

/* CSS below from https://github.com/Code-Institute-Solutions/boutique_ado_v1/blob/e3ce173e7475dd8e9c7f51a3af3eaa888c29cb79/static/css/base.css */

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: flex-start;
}

/* Home Layout */

.main-grid-container {

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(350px, auto) minmax(300px, auto) minmax(300px, auto);
    grid-template-areas:
        "hero"
        "work"
        "about";
}

.home-container {
    grid-area: hero;
}

.portfolio-container {
    grid-area: work;
}

.about-container {
    grid-area: about;
}

footer {
    grid-area: footer;
}

/* Logo */ 
.nav-logo h2 {
    font-weight: 600;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: left;
}

#main-nav {
    padding-left: 16px;
}

/* Hero Section */
.hero-container {
    height: 100%;
    background: url('/static/img/gallery.svg') no-repeat center center fixed;
    background-position: bottom;
    background-size: 700px;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

/* Portfolio Section */
.hero-container.portfolio-container {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(188,184,255,1) 42%, rgba(107,99,255,1) 89%);
    margin-left: 0;
    margin-right: 0;
    height: 100%
}

.inner-container {
    padding: 3rem 2rem;
}

/* Home Banner */
.home-banner-container {
    background: rgba(107, 99, 255,0.8);
    border-radius: 20px;
    padding: 1rem;
}

.home-banner-container h1 {
    color: #ffffff;
}

/* Delivery Banner */
.delivery-banner-content {
    background: #6b63ff;
    color: #ffffff;
}

.main-logo-link {
    width: fit-content;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.text-info {
    color: #6b63ff !important;
}

/* Header */

.header-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#basket-icon {
    height: 30px;
    transition: all 0.2s ease-in-out
}

#account-icon {
    height: 40px;
    transition: all 0.2s ease-in-out
}

#dropdown-search-icon {
    height: 30px;
    transition: all 0.2s ease-in-out
}

#basket-icon:hover,
#basket-icon:focus,
#account-icon:hover,
#account-icon:focus,
#dropdown-search-icon:hover,
#dropdown-search-icon:focus {
    transform: scale(1.2);
}

.header-search-button {
    height: 30px;
    background: none !important;
    border: 0 !important;
}

.header-search-bar {
    border: 0;
    border-bottom: 2px #ffffff solid;
    color: #ffffff;
}
body > header > div:nth-child(3) > nav > ul > li.list-inline-item.show > div > form > div > input[type="text"],
body > header > div:nth-child(3) > nav > ul > li.list-inline-item.show > div > form > div > textarea {
    background-color : #000000;
    color: #ffffff;
}

body > header > div:nth-child(3) > nav > ul > li.list-inline-item.show > div > form > div > input::placeholder {
    color: rgba(255,255,255,0.7)
}

/* Navigation */
.mobile-menu-toggle {
    font-size: 2rem;
}

.search-bar-dropdown.show {
    display: flex;
    background: black;
    border-radius: 20px;
    box-shadow: 10px 10px 60px #dcdcdc2e, 5px -10px 35px #e4e4e485;
}

.dropdown-menu {
    background: #000000;
}

.dropdown-item {
    color: #ffffff;
}

.navbar-collapse {
    flex-basis: 0;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

/* Products Page */
.overlay {
    height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.product-spacer {
    height: 2rem;
}

.card-hover {
    transition: all 0.2s ease-in-out;
}

.card-hover:focus,
.card-hover:hover {
    transform: scale(1.05);
}

/* Cart/ Bag */

.custom-detail-text {
    display: flex;
    flex-direction: column;
}

.card {
    text-align: center;
}

.card-img-top {
    object-fit: cover;
    min-height: 250px;
    border: 1px solid;
    border-radius: 3px;
}

.card-bg-shadow {
    background: rgba(255, 255, 255, 0.95);
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    box-shadow: 10px 10px 30px #dcdcdc6e, 5px -5px 25px #e5e5e5;
    height: fit-content;
}

body > div.container-fluid > div > div.row > div > div:nth-child(2) > div:nth-child(4) > div > a > img

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

body > div.container.mb-2 > div:nth-child(2) {
    min-height: 50vh;
}

/* Toast Messages */
.custom-toast {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

.toast-header {
    justify-content: space-between;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #000000;
    font-size: 1.1rem;
}

.toast-header-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.bg-theme {
    background: #6b63ff;
}

.toast-header > button {
    border: none;
}

.toast-body {
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #000000;
}
.toast-header.text-white > button {
    background: none;
    font-size: 1.5rem;
}

.toast-body.text-white > a {
    color: #000000;
    background-color: #ffffff;
    padding: .175rem .75rem;
    margin-top: 0.5rem;
    transition: all 0.2s ease-in-out
}

.toast-body.text-white > a:hover,
.toast-body.text-white > a:focus {
    background: #e9ecef;
}

.message-container {
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 99999999;
}

.custom-toast {
    overflow: visible;
    border-radius: 20px;
}

.toast-capper {
    height: 4px;
}

.thumbs-up {
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.thumbs-up img {
    filter: invert(100%);
    padding-right: 1rem;
}

/* Hero Images */
.hero-immage-container img {
    position: fixed;
    max-height: 300px;
    bottom: 0;
    right: 0;
}

/* Work Section */
.our-work-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    margin: 1rem 0;
}

.our-work-item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 2.5px 5px 10px -5px rgb(0 0 0 / 20%);
}

.our-work-item img {
    object-fit: cover;
    height: 180px;
    width: 100%;
    border-radius: 3px;
}

/* Contact Section */
.social-media-icons span {
    color: #6b63ff;
}

.social-media-icons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem 0;
}

.social-media-icons-container a i {
    color: #6b63ff;
    font-size: 2rem;
    transition: all 0.2s ease-in-out
}

.social-media-icons-container a i:hover,
.social-media-icons-container a i:focus,
.social-media-icons-container a i:active {
    transform: scale(1.15);
}

/* Checkout Success */

.checkout-container-success {
    background: url('/static/img/purchase.svg') no-repeat center center fixed;
    background-size: 250px;
    background-position: bottom right 60px;
}

.order-confirmation-wrapper {
    background: #ffffff;
}

/* Account/ User Profiles (Allauth) */ 
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5% 10% 5%;
}

.login-form {
    margin: 0 1rem;
}

.login-bg {
    background: url('/static/img/login.svg') no-repeat center center fixed;
    background-size: 350px;
    background-position: bottom left;
}

#login_form label,
#signup_form label {
    display: none;
}

#login_form > div,
#signup_form > div {
    margin-top: 0.25rem;
}

.form-control {
    color: #000000;
    border: 1px solid #6b63ff;
    margin-bottom: 0.5rem;
    background: #ffffff;
}

#id_default_country,
input::placeholder {
    color: #555!important;
}

#id_default_country option:not(:first-child) {
    color: #000000;
}

#id_default_country option:first-child {
    color: #555!;
}

#logout-container,
#profile-update-form > div.btn-container {
    justify-content: flex-end;
}

/* Management */ 

.order-lg-last {
    margin-left: auto;
    height: fit-content;
}

.order-history-item-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.order-history-complete {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/* Customer Order Update */

.complete-order-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.complete-order-header-total {
    display: flex;
    flex-direction: row;
    align-items: baseline
}

.complete-order-header-total small {
    margin-right: 0.25rem;
}

.complete-order-header-total p {
   font-weight: 600;
}

#div_id_image > div > span {
    padding: 0;
    text-align: left;
    font-size: 85%;
}

.customer-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.25rem 0
}

.customer-item {
    display: flex;
    flex-direction: column;
}

.customer-lineitems-custom {
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
}

/* Artwork Page */

.artwork-img img {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.artwork-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.artwork-download {
    padding: 1rem;
}

/* Footer */
.footer-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

footer {
    background: #6b63ff;
    padding: 0;
    position: sticky;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.copyright-footer {
    align-self: center;
}

.copyright-footer-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0.4rem;
}

.copyright-footer-inner span {
    color: #ffffff;
    font-size: 75%;
}

.copyright-links-container {
    margin-top: -6px;
}

.copyright-links-container a {
    color: #ffffff;
    font-size: 65%;
}

.footer-thumb {
    height: 35px;
    transition: all 0.2s ease-in-out
}

.error-container {
    height: calc(100vh - 206px);
    background: url('/static/img/404_error.png') no-repeat center center fixed;
    background-size: 250px;
    background-position: bottom;
}

.error-five-container {
    height: calc(100vh - 206px);
    background: url('/static/img/500_error.svg') no-repeat center center fixed;
    background-size: 250px;
    background-position: bottom;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }

    .checkout-container-success {
        background-position: bottom right 100px !important;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .header-container {
        padding-top: 164px;
    }
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .hero-container {
    background-position: bottom;
    }
    .home-banner-container {
        max-width: 600px;
    }
    .checkout-container-success {
    background-position: bottom right 50px;
    background-size: calc(100vw / 3.5);
    }
    #our-work > div > div.btn-container {
        justify-content: flex-end;
    }
}

/* Medium view adjustments */
@media (max-width: 991px) {
    .hero-container {
        background-position: bottom;
        background-size: 650px;
    }
    .home-banner-container {
        margin: 0.5rem
    }
    .header-container {
        padding-top: 116px;
    }
    .message-container {
        top: auto !important;
        bottom: 2rem;
        right: auto !important;
        left: 50%;
        transform: translateX(-50%);
    }
    .text-right {
        text-align: left;
    }
    body > div.container.checkout-container-success > div:nth-child(3) > div {
        text-align: right;
        display: flex;
    }
    body {
        height: calc(100vh - 116px);
    }
    .btn-container,
    body > div.container-fluid > div > div:nth-child(2) > div > form > div > div:nth-child(11) {
        display: flex;
        flex-direction: column-reverse;
    }
    .product-detail-image {
        margin-left: 10%;
        margin-right: 10%;
    }
    .artwork-item {
        flex-direction: column;
    }
    .our-work-layout {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
        margin: 1rem 0;
    }
}

/* Tablet view adjustments */
@media (max-width: 768px) {
    .hero-container {
        background-position: center;
        background-size:  calc(100vw / 1);
    }
    .checkout-container-success {
        background-position: bottom;
        background-size:  calc(100vw / 2);
    }
    body > div.container-fluid > div > div:nth-child(2) > div > form > div > div:nth-child(11) {
        display: flex;
        flex-direction: column-reverse;
    }
    .our-work-layout {
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        margin: 1rem 0;
    }
}

/* Mobile view adjustments */
@media (max-width: 480px) {
    .row-margin {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }
    .inner-container {
        padding: 1rem 1rem;
    }
    .home-banner-container {
        width: 70%;
    }
    .hero-container,
    .checkout-container-success {
        background-position: center;
        background-size: calc(100vw / 1.2);
    }
    .customer-item-container {
        flex-direction: column;
        padding: 0.25rem;
    }
    .our-work-layout {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 2rem;
        margin: 2rem 0;
    }
}