/* Stylesheet - base.css - Improved Design */
html {
    height: 100%;
}

body {
    height: calc(100vh - 160px);
    color: #555;
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased
}

em {
    font-size: 80%;
}

hr {
    border-top: 1px solid #6b63ff;
}

i {
    color: #6b63ff;
}

.text-theme {
    color: #6b63ff;
}

.text-right {
    text-align: right;
}

.image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.heading-bg-none {
    background: rgba(0, 0, 0, 0) !important;
}

/* Selectors & Search Bar */
.custom-select, .custom-borders {
    border-bottom: 1px solid #6b63ff !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}

/* Buttons & Nav Links */
.discover-btn {
    background: #ffffff;
    float: right;
}

a#category-link,
a#all-products-link {
    transition: ease-in-out;
    border-bottom: 1px solid;
}
a#category-link:hover,
a#category-link:focus,
a#category-link:active,
a#all-products-link:hover,
a#all-products-link:focus,
a#all-products-link:active {
    color: #6b63ff !important;
    transform: scale(1.03);
    border-bottom-color: #6b63ff;
}

.discover-btn:hover,
.discover-btn:focus,
.discover-btn:active {
    background: rgba(0, 0, 0, 0.8);
    text-decoration: underline;
    color: #ffffff;
}

/* Fonts */
.banner-font {
    font-size: 1rem;
}

/* Key Frames for Home */
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

/* CSS below from https://github.com/Code-Institute-Solutions/boutique_ado_v1/blob/e3ce173e7475dd8e9c7f51a3af3eaa888c29cb79/static/css/base.css */

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: flex-start;
    height: 32px;
    width: 32px;
}

/* Logo */ 
.nav-logo h2 {
    font-weight: 600;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: left;
}

#main-nav {
    padding-left: 16px;
}

/* Hero Section */
.hero-container {
    height: 50vh;
    background: url('/static/img/gallery.svg') no-repeat center center fixed;
    background-position: bottom;
    background-size: 700px;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

/* Portfolio Section */
body > div.hero-container.portfolio-container {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(188,184,255,1) 42%, rgba(107,99,255,1) 89%);
    margin-left: 0;
    margin-right: 0;
    height: 100%;
}

.inner-container {
    padding: 3rem 2rem;
}

/* Home Banner */
.home-banner-container {
    background: rgba(107, 99, 255,0.8);
    border-radius: 20px;
    padding: 1rem;
}

.home-banner-container h1 {
    color: #ffffff;
}

/* Delivery Banner */
.delivery-banner-content {
    background: #6b63ff;
    color: #ffffff;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.text-info {
    color: #6b63ff !important;
}

/* Header */

.header-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#basket-icon {
    height: 35px;
    transition: all 0.2s ease-in-out
}

#account-icon {
    height: 50px;
    transition: all 0.2s ease-in-out
}

#dropdown-search-icon {
    height: 35px;
    transition: all 0.2s ease-in-out
}
#user-options {
    transition: all 0.1s ease-in-out
}

#basket-icon:hover,
#basket-icon:focus,
#user-options:hover > #account-icon,
#account-icon:focus,
#dropdown-search-icon:hover,
#dropdown-search-icon:focus {
    transform: scale(1.1);
}


.header-search-button {
    height: 30px;
}

.header-search-bar {
    border: 0;
    border-bottom: 2px #ffffff solid;
    color: #ffffff;
}
body > header > div:nth-child(3) > nav > ul > li.list-inline-item.show > div > form > div > input[type="text"],
body > header > div:nth-child(3) > nav > ul > li.list-inline-item.show > div > form > div > textarea {
    background-color : #000000;
    color: #ffffff;
}

body > header > div:nth-child(3) > nav > ul > li.list-inline-item.show > div > form > div > input::placeholder {
    color: rgba(255,255,255,0.7)
}

/* Navigation */
.search-bar-dropdown.show {
    display: flex;
    background: black;
    border-radius: 20px;
    box-shadow: 10px 10px 60px #dcdcdc2e, 5px -10px 35px #e4e4e485;
}

/* Products Page */
.overlay {
    height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* Cart/ Bag */

.custom-detail-text {
    display: flex;
    flex-direction: column;
}

.card {
    text-align: center;
}

.card-img-top {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.card-bg-shadow {
    background: rgba(255, 255, 255, 0.95);
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    box-shadow: 10px 10px 60px #dcdcdc2e, -10px -10px 35px #e4e4e4;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

/* Toast Messages */
.custom-toast {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

.toast-header {
    justify-content: space-between;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.toast-header > button {
    border: none;
}

.toast-body {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.message-container {
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 99999999;
}

.custom-toast {
    overflow: visible;
    border-radius: 20px;
}

.toast-capper {
    height: 4px;
}

/* Hero Images */
.hero-immage-container img {
    position: fixed;
    max-height: 300px;
    bottom: 0;
    right: 0;
}

/* Checkout Success */
.checkout-container-success {
    background: url('/static/img/purchase.svg') no-repeat center center fixed;
    background-size: 350px;
    background-position: bottom right 60px;
}

.order-confirmation-wrapper {
    background: #ffffff;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }

    .hero-container {
        height: 60vh;
    }

    .card-img-top {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .hero-container {
        height: 55vh;
    }
    .header-container {
        padding-top: 164px;
    }
    .card-img-top {
        width: 350px;
        height: 350px;
        object-fit: cover;
    }
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .hero-container, .checkout-container-success {
    background-position: bottom;
    background-size: calc(100vw / 1.5);
    }

    .checkout-container-success {
    background-position: bottom right;
    
    }
}

/* Medium view adjustments */
@media (max-width: 991px) {
    body > div.container,
    body > div.container-fluid {
        margin-top: 3rem;
    }
    .hero-container {
        height: 55vh;
    }
    .hero-container,
    .checkout-container-success {
        background-position: bottom;
        background-size: 650px;
    }
    .home-banner-container {
        margin: 0.5rem
    }
    .header-container {
        padding-top: 116px;
    }
    .message-container {
        top: auto !important;
        bottom: 2rem;
        right: auto !important;
        left: 50%;
        transform: translateX(-50%);
    }
    .text-right {
        text-align: left;
    }
    body {
        height: calc(100vh - 116px);
    }
}

/* Tablet view adjustments */
@media (max-width: 768px) {
    .hero-container,
    .checkout-container-success {
        background-position: bottom;
        background-size:  calc(100vw / 1.2);
    }
    body > div.container-fluid > div > div:nth-child(2) > div > form > div > div:nth-child(11) {
        display: flex;
        flex-direction: column-reverse;
    }
}

/* Mobile view adjustments */
@media (max-width: 480px) {
    .hero-container {
        height: 52vh;
    }
    .inner-container {
        padding: 2rem 1rem;
    }
    .home-banner-container {
        width: 70%;
    }
    .hero-container,
    .checkout-container-success {
        background-position: center;
        background-size: calc(100vw / 1.1);
    }
}
