/* Stylesheet - base.css - Improved Design */
html {
    height: 100%;
}

body {
    background: url('/media/id_background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 160px);
    color: #555;
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased
}

em {
    font-size: 80%;
}

/* Buttons */
.discover-btn {
    background: #ffffff;
}

/* Fonts */
.banner-font {
    font-size: 1rem;
}

.discover-btn:hover,
.discover-btn:focus,
.discover-btn:active {
    background: rgba(255,255,255, 0.5);
    text-decoration: underline;
}

/* CSS below from https://github.com/Code-Institute-Solutions/boutique_ado_v1/blob/e3ce173e7475dd8e9c7f51a3af3eaa888c29cb79/static/css/base.css */

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Delivery Banner */
.delivery-banner-content {
    background: #6b63ff;
    color: #ffffff;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.text-info {
    color: #6b63ff !important;
}

/* Navigation */
.search-bar-dropdown.show {
    display: flex;
}

/* Products Page */
.overlay {
    height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* Cart/ Bag */

.custom-detail-text {
    display: flex;
    flex-direction: column;
}

.card {
    text-align: center;
}

.card-img-top {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

/* Toast Messages */
.toast-header {
    justify-content: space-between;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.toast-header > button {
    border: none;
}

.toast-body {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.message-container {
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 99999999;
}

.custom-toast {
    overflow: visible;
    border-radius: 20px;
}

.toast-capper {
    height: 4px;
}

/* Here Images */
.hero-immage-container img {
    position: fixed;
    max-height: 300px;
    bottom: 0;
    right: 0;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }

  .card-img-top {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    .card-img-top {
        width: 350px;
        height: 350px;
        object-fit: cover;
    }
}

/* Add padding to header container in mobile view */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}
