<!-- Main Navigation Dropdowns -->
<div id="main-nav" class="navbar collapse navbar-collapse">
    <ul class="navbar-nav w-auto">

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="category-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Design Services
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="category-link">
                <a href="{% url 'products' %}?category=custom" class="dropdown-item">Custom Design</a>
                <a href="{% url 'products' %}?category=leaflet" class="dropdown-item">Leaflet Design</a>
                <a href="{% url 'products' %}?category=icons" class="dropdown-item">Icon Design</a>
                <a href="{% url 'products' %}?category=poster" class="dropdown-item">Poster Design</a>
                <a href="{% url 'products' %}?category=logo" class="dropdown-item">Logo Design</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Services
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Type</a>
                <a href="{% url 'products' %}" class="dropdown-item">View All Services</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="category-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About 
            <div class="dropdown-menu border-0" aria-labelledby="category-link">
                <a href="{% url 'home' %}#our-work" class="dropdown-item">Our Work</a>
                <a href="#about" class="dropdown-item">About / Contact</a>
            </div>
        </li>
    </ul>
</div>