{% load static %}
<!-- Mobile view header -->
<ul>
    <li class="list-inline-item">
        <a class="text-black nav-link d-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="text-center">
                <div class="header-icon-container">
                    <img type="image/svg+xml" id="dropdown-search-icon" src="{% static 'img/noun_search.svg' %}">
                    <p class="my-0 text-theme">Search</p>
                </div>
            </div>
        </a>
        <div class="dropdown-menu search-bar-dropdown border-0 w-100 p-3 my-0" aria-labelledby="mobile-search">
            <form class="form" method="GET" action="{% url 'products' %}">
                <div class="input-group w-100">
                    <input class="small form-control header-search-bar" type="text" name="q" placeholder="Search our services..">
                    <div class="input-group-append">
                        <button class="form-control form-control btn header-search-button rounded-0" type="submit">
                            <span class="icon">
                                <img type="image/svg+xml" src="{% static 'img/noun_search_btn.svg' %}">
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </li>
    <li class="list-inline-item dropdown">
      <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="text-center">
                <div class="header-icon-container">
                    <img type="image/svg+xml" id="account-icon" src="{% static 'img/noun_person.svg' %}">
                    <p class="my-0 text-theme" id="account-icon-text">Account</p>
                </div>
          </div>
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="user-options">
          {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
                <a href="{% url 'add_product' %}" class="dropdown-item">Management</a>
              {% endif %}
              <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
          {% else %}
              <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
              <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
          {% endif %}
      </div>
    </li>
    <li class="list-inline-item">
      <a class="{% if grand_total %}text-info
       font-weight-bold{% else %}text-theme{% endif %} nav-link d-block d-lg-none" href="{% url 'view_bag' %}">
          <div class="header-icon-container">
                <div class="header-icon-container">
                    <img type="image/svg+xml" id="basket-icon" src="{% static 'img/noun_checkout.svg' %}">
                    <p class="my-0">
                        {% if grand_total %}
                            €{{ grand_total|floatformat:2 }}
                        {% else %}
                            €0.00
                        {% endif %}
                    </p>
                </div>
          </div>
      </a>
    </li>
  </ul>