{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
    <h2 class="logo-font mb-2">
        {% trans "Set Password" %}
    </h2>
    <hr>
    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="btn-container">
            <input class="btn btn-black rounded-1 mt-3" type="submit" name="action" value="{% trans 'Set Password' %}"/>
        </div>
    </form>
{% endblock %}
