/* Stylesheet for checkout.html - Improved Design */
.checkout-tag {
    color: #6b63ff;
}
.fieldset-label {
    position: relative;
    right: 0.5rem;
}

label {
    font-size: 0.9rem;
}

.form-control {
    font-size: 14px;
    -webkit-font-smoothing: antialiased
}

input::placeholder {
    color: #555!important;
  }

#card-element {
    padding: 1rem;
    border-radius: 3px;
}

#payment-form .form-control,
#card-element {
    color: #000000;
    border: 1px solid #6b63ff;
    margin-bottom: 0.5rem;
    background: #ffffff;
}

.checkout-container {
    background: url('/static/img/order.svg') no-repeat center center fixed;
    background-size: 300px;
    background-position: bottom;
}