{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Customer Order Completion -->
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="logo-font mb-4">Order Management</h2>
                <h5 class="text-theme">Complete customer orders below.</h5>
                <hr>
            </div>
        </div>
         <!-- Display user order -->
        <div class="row row-margin">            
            <div class="col-11 col-md-10 col-lg-8 m-auto mb-3 card-bg-shadow">
                <div class="complete-order-header">
                    <p class="text-theme">Pending Order # <small>{{ order.order_number|truncatechars:10 }}</small></p>
                    <div class="complete-order-header-total">
                        <small>Total </small>
                        <p class="text-black">€{{ order.grand_total }}</p>
                    </div>
                </div>
                <div class="customer-item-container form-control rounded-1">
                    <div class="customer-item">
                        <small class="text-muted initialism">Customer Name</small>
                        <p class="text-black mb-0">{{ order.full_name }}</p>
                    </div>
                    <div class="customer-item">
                        <small class="text-muted initialism">Email</small>
                        <a href="mailto:{{ order.email }}">{{ order.email }}</a>
                    </div>
                    <div class="customer-item">
                        <small class="text-muted initialism">Phone #</small>
                        <a href="tel:{{ order.phone_number }}">{{ order.phone_number }}</a>
                    </div>
                </div>
                <div class="order-history mt-3 mb-3">
                        <div class="order-history-item-container">
                            <div class="order-history-item">
                                <div class="order-history-item-inner">
                                    <small class="text-theme font-weight-bold">{{ order.date }}</small>
                                </div>
                                <hr class="m-0 mb-1">
                            </div>
                            <div class="order-history-item">
                                <div class="order-history-item-inner">
                                    <ul class="list-unstyled mb-0">
                                        <!-- List order line items -->
                                        {% for item in order.lineitems.all %}
                                            <li class="small">
                                                <div class="customer-lineitems">
                                                <p class="text-black m-0">{{ item.product.name }} x{{ item.quantity }} - {{ item.product_size}} ({{item.artwork_colour}})</p>
                                                </div>
                                                <div class="customer-lineitems-custom">
                                                    <small>Artwork Requirements</small>
                                                    <p class="text-black">{{ item.artwork_request }}</p>
                                                    <small>Artwork Content/ Copy</small>
                                                    <p class="text-black">{{ item.product_text_content }}</p>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <small>
                                        <small class="initialism">Total</small> 
                                        €{{ order.grand_total }}
                                    </small>
                                </div>
                            </div>
                            <hr class="m-0 mb-1 mt-1">
                        </div>
                </div>
                <!-- Upload user artworks  -->
                <div class="order-upload">
                    <form method="POST" action="{% url 'customer_order' order.id %}" class="form mb-2" enctype="multipart/form-data">
                        <small class="text-theme">Please upload customer artwork(s) below.</small>
                        {% csrf_token %}
                        {{ form_update | crispy }}
                        <div class="btn-container">
                            <button class="btn btn-black rounded-1 mt-3" name="update_order" type="submit">
                                Complete Order
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Display email warning -->
    <script>
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Completing order will auto email User confirmation.`);
        });
    </script>
{% endblock %}