{% load static %}
<!-- Toast template for app messages -->
<div class="toast custom-toast border-top-0" data-autohide="false">
    <div class="toast-header text-white">
        <div class="toast-header-content">
            <strong>Notification</strong>
        </div>
        <button type="button" class="ml-2 mb-1 close text-white bg-none" data-dismiss="toast" aria-label="Close">
            <span class="toast-close" aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="w-100 toast-capper bg-theme"></div>
    <div class="toast-body text-white">
        {{ message }}
    </div>
</div>